.wd-page-title {
    color: white;
    margin-left: 16px;
    font-size: 20px;
}

.wd-user-handle {
    color: rgb(110, 118, 125);
    margin-top: -10px;
    margin-left: 16px;
    padding-bottom: 12px;
    font-size: 13px;
}

.wd-profile-picture {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 7px;
    margin-left: 6px;
    display: inline;
}

.wd-bookmark-main-content {
    display: inline-block;
    vertical-align: top;
}

.wd-author-header {
    margin-left: 12px;
    margin-top: 12px;
}

.wd-name {
    font-size: 15px;
    color: white;
    display: inline;
}

.wd-handle-and-date {
    font-size: 15px;
    color: rgb(110, 118, 125);
    display: inline;
}

.wd-bookmark-main-content > p {
    max-width: 506px;
    color: white;
    font-size: 15px;
    margin-bottom: 12px;
    margin-left: 14px;
}

.wd-bookmark-main-content .wd-bookmark-img {
    width: 504px;
    height: 264px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-left: 14px;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-caption {
    width: 480px;
    padding: 12px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: -6px;
    margin-left: 14px;
    border-color: rgb(47, 51, 54);
    border-width: 1px;
    border-style: solid;
}

.wd-caption .wd-caption-title {
    color: white;
    font-size: 15px;
    font-weight: bold;
}

.wd-caption > p {
    font-size: 15px;
    color: rgb(110, 118, 125);
}

.wd-action-items {
    margin-top: 12px;
}

.wd-action-item {
    display: inline;
}

.wd-action-icon {
    width: 16px;
    height: 16px;
}

.wd-icon-container {
    position: relative;
    top: 2px;
    display: inline;
}

.wd-svg-icon {
    width: 100%;
    height: 100%;
    color: rgb(88,94,100);
    position: relative;
    top: 100px;
}

.wd-action-text {
    margin-left: 12px;
    margin-right: 75px;
    color: rgb(88,94,100);
    display: inline;
}

.wd-action-text-active {
    margin-left: 12px;
    margin-right: 75px;
    color: rgb(224,37,94);
    display: inline;
}